/*I used a decent amount of Leon's code that he wrote for the login page for this
stylesheet, modifying it to conform for the file upload pages*/

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.h1 {
    color: white;
    font-weight: lighter;
    font-size: 70px;
    text-indent: 10px;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
}

.h2 {
    color: white;
    font-weight: bold;
    text-indent: 10px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.h3 {
    color: #222287;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.body {
    background-color: #8ca8cc79;
    /*background-image: url('./images/journey_into_dataviz_feature.jpg');*/
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
    background-position: center;
    background-position-y: 150px;
    background-size: 50%;
}

.nav {
    background-color: #222287;
    margin-left: -10px;
    margin-right: 250px;
    border: 5px solid #07062b;
    border-radius: 0px 50px 50px 0px;
    /* padding: 1em; */
    /* margin: 0 -1em; */
    /* border-bottom: 1px solid#222287; */
}

.subtitle {
    color: rgb(122, 196, 223);
    font-size: 20px;
    margin-top: -50px;
    text-indent: 150px;
    font-family: "Courier New", Courier, monospace;
}

.h1_title {
    color: #222287;
    font-weight: bold;
    font-size: 50px;
    /*text-indent: 10px;*/
    text-align: center;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
}

.paragraph {
  text-align: center;
  color: white;
  text-indent: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.infoblock1 {
    background-color: #222287;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 5px solid #07062b;
    border-radius: 50px 50px 50px 50px;
 }

 .infoblock2 {
    background-color: #222287;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid #07062b;
    border-radius: 50px 50px 50px 50px;
 }