# Flask bits
Flask
Flask_Minify # compress webpage stuff for better serving
Flask-Login
Flask-SQLAlchemy
Flask_WTF
Bootstrap-Flask
email_validator

# production-ready WSGI server, supports windows and unix
waitress

# fixations and visualization
numpy
opencv-python
scipy
msgpack
requests
pytest
pytest-mock
bitarray
numpy-quaternion
pandas
pathlib
matplotlib
moviepy