/* General Video Container */
.video_container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    height: 800px;
}

.world_video {
    max-width: 100%;
    width: 640px;
    height: 480px;
    object-fit: contain;
    border-radius: 12px;
}

.eye_video {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
}

#eye0video {
    transform: rotate(180deg);
}

/* Box style for controls */
.controls_container {
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seek-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.video-times {
    width: 60px;
    text-align: center;
}

.seek-bar {
    width: 400px;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-icon {
    background: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Graphs */
.graph_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.graph_panel > div {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}
