{% extends 'user_auth/base.jinja' %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block header %}
  <h1>{% block title %}Landing{% endblock %}</h1>
{% endblock %}

{% block content %}
<section>
    {{ render_messages() }}
    <div class="container py-7">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-success shadow-success border-radius-lg py-4 text-center">
                            <h4 class="font-weight-bolder text-white mt-1">Welcome</h4>
                            <p class="mb-1 text-sm text-white">Sign in or create a new account</p>
                            <p class="mb-1 text-sm text-white">Passwords must contain 1 uppercase letter, 1 lowercase</p>
                            <p class="mb-1 text-sm text-white">1 number, and 1 special character</p>
                        </div>
                    </div>

                    <!-- Tabs Navigation -->
                    <div class="nav-wrapper position-relative mt-3 px-3">
                        <ul class="nav nav-pills nav-fill p-1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">
                                    Sign-up
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="card-body tab-content mt-3">
                        <!-- Login Form -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel">
                                                        <form role="form" method="post" autocomplete="off">
                                    <div class="card-body pb-2">
                                        {{ login_form.csrf_token }}
                                        <div class="input-group input-group-static mb-4">
                                            {{ login_form.l_username.label(class="form-label") }}
                                            {{ login_form.l_username(class="form-control", aria_label="Username") }}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ login_form.l_password.label(class="form-label") }}
                                            {{ login_form.l_password(class="form-control", aria_label="Password") }}
                                            {% for error in login_form.l_password.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ login_form.l_recaptcha(class="form-control", aria_label="Recaptcha") }}
                                        </div>
                                        </div>
                                        <div class="text-center">
                                            {{ login_form.l_submit(class="btn bg-gradient-dark mt-3 mb-0") }}
                                        </div>
                                </form>
                        </div>

                        <!-- Register Form -->
                        <div class="tab-pane fade" id="register" role="tabpanel">
                            <form role="form" method="post" autocomplete="off">
                                    <div class="card-body pb-2">
                                        {{ register_form.csrf_token }}
                                        <div class="input-group input-group-static mb-4">
                                            {{ register_form.r_username.label(class="form-label") }}
                                            {{ register_form.r_username(class="form-control", aria_label="Username") }}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ register_form.r_email.label(class="form-label") }}
                                            {{ register_form.r_email(class="form-control", aria_label="Email") }}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ register_form.r_password.label(class="form-label") }}
                                            {{ register_form.r_password(class="form-control", aria_label="Password") }}
                                            {% for error in register_form.r_password.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ register_form.r_repeat_password.label(class="form-label") }}
                                            {{ register_form.r_repeat_password(class="form-control", aria_label="Repeat Password") }}
                                            {% for error in register_form.r_repeat_password.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            {{ register_form.r_recaptcha(class="form-control", aria_label="Recaptcha") }}
                                        </div>
                                        <div class="text-center">
                                            {{ register_form.r_submit(class="btn bg-gradient-dark mt-3 mb-0") }}
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
