.img {
    border: 5px solid #ffffff;
    background-color: #ffffff;
    border-radius: 25px;
    max-width: 100%;
    max-height:100%;
    margin: 10px;
}
.imgsmall {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 2px;
    max-width: 100%;
    max-height:100%;
    margin: 10px;
}
.imgbig {
    border: 3px solid #000000;
    background-color: #989393;
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    border-radius: 50%;
    margin-top: 200px;
}

.header {
    background-color: #ffffff;
}
.body {
    background-color: #8ca8cc79;
    background-image: url('../images/journey_into_dataviz_feature.png');
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
    background-position: center;
    background-position-y: 150px;
    background-size: 50%;
}
.nav {
    background-color: #222287;
    margin-left: -10px;
    margin-right: 250px;
    border: 5px solid #07062b;
    border-radius: 0px 50px 50px 0px; 
    /* padding: 1em; */
    /* margin: 0 -1em; */
    /* border-bottom: 1px solid#222287; */
}
.subtitle {
    color: rgb(122, 196, 223);
    font-size: 20px;
    margin-top: -50px;
    text-indent: 150px;
    font-family: "Courier New", Courier, monospace;
}
.h1 {
    color: white;
    font-weight: lighter;
    font-size: 70px;
    text-indent: 10px;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
}
.h2 {
    color: white;
    font-weight: medium;
    text-indent: 10px;
    font-family: "Courier New", Courier, monospace;
}
.container {
    display: flex;
    align-items: center;
    justify-content: left;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}
.flex-container {
    background-color: #33367b;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 2px;
    margin: auto;

    padding: 10px 5px 20px;

    /* float: center; */
    width: 15%;
    height: 100%;
    border: 5px solid #001c2e;
    border-radius: 25px;
}
.flex-item {
    /* border-style: solid; */
    align-items: center;
    margin: 2px;
    color: white;
    /* text-align: right; */
}
.flex-button{
    margin-left: 90px;
    padding: 5px;
}
.otherbutton{
    margin-left: 90px;
    padding: 5px;
}
.textbox {
    grid-column: 2 / 4;
    text-align: left;
    width: 97%;
}
.text {
    padding: 5px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #dad0d0c4;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-top: 3px solid #090237;
}
.topbar {
    background-color: #aa9999;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 12%;
    height: 10%;
    border-bottom-left-radius: 15px;
}
.hyperlink {
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.infoblock1 {
    background-color: #222287;
    margin-left: -10px;
    margin-right: 100px;
    margin-top: 300px;
    margin-bottom: 100px;
    border: 5px solid #07062b;
    border-radius: 0px 50px 50px 0px; 
 }
 .infoblock2 {
    background-color: #222287;
    margin-left: 150px;
    margin-right: -10px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 5px solid #07062b;
    border-radius: 50px 0px 0px 50px; 
 }
 .imgbig2 {
    border: 3px solid #000000;
    background-color: #989393;
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    margin-left: 50px;
    border-radius: 20%;
}
 .paragraph {
    text-align: justify;
    color: white;
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }