<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Waltuh</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/file-upload/stylesheet.css') }}">
    </head>
    <body>
        <header>
          <div class="container">
            <h1 class="logo">VEDB ToolBox</h1>
            <strong><nav>
              <ul class="menu">
    <!--            add some account information here i would say-->
              </ul>
            </nav></strong>
          </div>
        </header>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

        <h1>Viewer</h1>
        <video width="512" height="384" controls>
            <source src="{{ url_for('static', filename='../static/worldvideo.mp4') }}" type="video/mp4">
            Browser support failed.
        </video>
        <video width="200" height="200" controls>
            <source src="{{ url_for('static', filename='../static/eye0.mp4') }}" type="video/mp4">
            Browser support failed.
        </video>
        <video width="200" height="200" controls>
            <source src="{{ url_for('static', filename='../static/eye1.mp4') }}" type="video/mp4">
            Browser support failed.
        </video>
    </body>
</html>