<!--Most of this code was written by Matt, with all of the Bootstrap done by Brian. Additionally, some of the
element code was taken from Leon's login page.-->

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/file-upload.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>VEDB Toolbox</title>
    <style>
        p {
            line-height: 1;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="d-block mx-auto mb-4" src="../../static/images/vedblogo.png" alt="" width="40" height="40">
            </a>
          </div>
    
          <div class="col-md-3 text-end">

            <a href="{{ url_for('dashboard') }}">
                <button type="button" class="btn btn-outline-primary me-2">Dashboard</button>
            </a>
            <a href="{{ url_for('logout') }}">
                <button type="button" class="btn btn-primary">Logout</button>
            </a>
          </div>
        </header>
      </div>
    <br>
    <h1 class="h1_title">Upload Files</h1>
    <div class="upload-container">
        <div class="upload-form-container">
            <h1 class="upload-container-text">Video Files</h1>
        {% if show_form1 %}
            <form action = "/upload_video" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" value="Choose Video Files" multiple />
                <input type = "submit" value="Upload Video Files">
            </form>
            <h3 class="h3">OR</h3>
        {% endif %}
            {% if show_form1 %}
            <form action = "/upload_video_link" method="POST" enctype="multipart/form-data">
                <input type="text" name="video_link"
                       placeholder="Link to Video Download"
                       value ="{{request.form['video_link'] }}"/>
                <input type = "submit" value="Download Video Files">
            </form>
        {% endif %}
            {% if not show_form1 %}
            <p class="success-text">Success!</p>
            <form action = "/upload_different_video" method="POST">
                <button type="submit" class="different_files_button">Upload Different Video Files</button>
            </form>
        {% endif %}
            <br>
            {% if failed_video_upload %}
                <p class="fail-text">Incorrect video files uploaded.</p>
            {% endif %}
            {% if not failed_video_upload and not failed_video_link %}
                <p></p>
            {% endif %}
            {% if failed_video_link %}
                <p class="fail-text">Incorrect video link uploaded.</p>
            {% endif %}
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="description-area">
                        <p>The video files for this dataset can be found on
                    <a href="https://nyu.databrary.org/volume/1612" style="color:rgb(122, 196, 223)" target="_blank" ref="noopener noreferrer">Databury</a>.
                    After navigating to this website,
                    the recorded sessions can be viewed. They can be sorted by participant information, the
                    condition of the data recording, the task performed during the recording, or the context of
                    the setting. Once you have navigated to the session you would like to view, either click on the
                    download for the zip file, or copy the link to that address. If you are downloading the zip file,
                    after unzipping you should see four files, three videos (.mp4) and one comma-separated values
                    file (.csv). All four of these files should be uploaded. If using the download via link feature,
                    just paste the link into the text box and click download.</p>
                    </div>
                </div>
            </div>
            </div>
        <div class="upload-container">
            <div class="upload-form-container">
            <h1 class="upload-container-text">Data Files</h1>
        {% if show_form2 %}
            <form action = "/upload_data" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" value="Choose Data Files" multiple />
                <input type = "submit" value="Upload Data Files">
            </form>
            <h3 class="h3">OR</h3>
        {% endif %}
        {% if show_form2 %}
            <form action = "/upload_data_link" method="POST" enctype="multipart/form-data">
                <input type="text" name="data_link"
                       placeholder="Link to Data Download"
                       value ="{{request.form['data_link'] }}"/>
                <input type = "submit" value="Download Data Files">
            </form>
        {% endif %}
            {% if not show_form2 %}
            <p class="success-text">Success!</p>
            <form action = "/upload_different_data" method="POST">
                <button type="submit" class="different_files_button">Upload Different Data Files</button>
            </form>
        {% endif %}
            <br>
            {% if failed_data_upload %}
                <p class="fail-text">Incorrect data files uploaded.</p>
            {% endif %}
            {% if failed_data_link %}
                <p class="fail-text">Incorrect data link uploaded.</p>
            {% endif %}
            {% if not failed_video_upload and not failed_video_link %}
                <p></p>
            {% endif %}
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="description-area">
                    <p>After uploading the video files, navigate to the
                    <a href="https://osf.io/2gdkb/" style="color:rgb(122, 196, 223)" target="_blank" ref="noopener noreferrer">Open Source Framework (OSF)</a>
                    website, where
                    the data files that correspond to the video files are located. To find the correct files, look
                    for the folder with the same name as the files downloaded from Databrary. Once you have located
                    these files, either download the zip file, or copy the link to the zip download. Ignore the
                    DS_Store file and the processedGaze folder (if applicable), and upload all the other files. Once
                    both of these upload tasks have been done, you will be able to proceed to the viewer. </p>
                    </div>
                </div>
            </div>
            </div>
<!--        {% if not show_form1 and not show_form2 %}-->
<!--            <form action = '/visualizer' method="POST">-->
<!--                <button type="submit" class="back_button">Enter Visualizer</button>-->
<!--            </form>-->
<!--        {% endif %}-->
    <div class="bottom_container">
<!--        {% if failed_video_upload %}-->
<!--                <p class="fail-text">Incorrect video files uploaded. Please try again, or refer to the link below for help.</p>-->
<!--        {% endif %}-->
<!--        {% if failed_data_upload %}-->
<!--                <p class="fail-text">Incorrect data files uploaded. Please try again, or refer to the link below for help.</p>-->
<!--        {% endif %}-->
<!--        {% if failed_video_link %}-->
<!--                <p class="fail-text">Incorrect video link uploaded. Either the link was invalid or the files could not be downloaded. Please try again, or refer to the link below for help.</p>-->
<!--        {% endif %}-->
<!--        {% if failed_data_link %}-->
<!--                <p class="fail-text">Incorrect data link uploaded. Either the link was invalid or the files could not be downloaded. Please try again, or refer to the link below for help.</p>-->
<!--        {% endif %}-->
        {% if not show_form1 and not show_form2 %}
            <form action = '/visualizer' method="POST">
                <button type="submit" class="enter_button">Enter Visualizer</button>
            </form>
        <br>
        <br>
        <br>
        {% endif %}
    </div>
<!--  <div class="bottom_container">-->
<!--   <h3 class="h3">Help</h3>-->
<!--      </div>-->
<!--      <div class="bottom_container">-->
<!--        <p style="text-align: center">Not sure what files to upload or links to enter? Please click <a href="/upload_help">here for help.</a></p>-->
<!--    </div>-->
  </body>
</html>