<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Upload folders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../stylesheet.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="grid-container">
            <div class="grid-item" id="file-upload-item">
                <form method="POST">
                    <p>Video upload</p>
                    <input type="text", name="video_directory">
                    <button id = video-upload-button>Upload folder</button>
                </form>
            </div>
            <div class="grid-item" id="data-upload-item">

                <p>Data upload</p>
                <input type="text", name="data_directory">
                <button id = data-upload-button>Upload folder</button>
            </div>
            <div class="grid-item" id="button-item">
                <button id="continue-button">Continue</button>
            </div>
        </div>
        
       
        
        <script src="" async defer></script>
    </body>
</html>