<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/file-upload/stylesheet.css">
</head>
<div class="heading_bar">

</div>
<body>
<h1>File Upload</h1>
{% if show_form1 %}
    <form action = "/upload_video" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" value="Choose Video Files" multiple />
        <input type = "submit" value="Upload Video Files">
    </form>
{% endif %}
{% if show_form2 %}
    <form action = "/upload_data" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" value="Choose Data Files" multiple />
        <input type = "submit" value="Upload Data Files">
    </form>
{% endif %}
{% if show_form1 %}
    <form action = "/upload_video_link" method="POST" enctype="multipart/form-data">
        <input type="text" name="video_link"
               placeholder="Link to Video Download"
               value ="{{request.form['video_link'] }}"/>
        <input type = "submit" value="Download Video Files">
    </form>
{% endif %}
{% if show_form2 %}
    <form action = "/upload_data_link" method="POST" enctype="multipart/form-data">
        <input type="text" name="data_link"
               placeholder="Link to Data Download"
               value ="{{request.form['data_link'] }}"/>
        <input type = "submit" value="Download Data Files">
    </form>
{% endif %}
<h2>Help</h2>
<a href="/upload_help">Help</a>
</body>
</html>