<!DOCTYPE html>

{% from 'bootstrap5/table.html' import render_table %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    <title>Document</title>
</head>
<body class="body">
    <!-- top bar -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="d-block mx-auto mb-4" src="../../static/images/vedblogo.png" alt="" width="40" height="40">
            </a>
          </div>
    
          <div class="col-md-3 text-end">

            <a href="{{ url_for('home') }}">
                <button type="button" class="btn btn-outline-primary me-2">Visualizer</button>
            </a>
            <a href="{{ url_for('logout') }}">
                <button type="button" class="btn btn-primary">Logout</button>
            </a>
          </div>
        </header>
      </div>
    <!-- Side menu -->
    <div class="sidebar">
        <!-- in the future you could prob click the logo to go to the homepage -->
        <div class="container">
            <img class="img" src="../static/images/vedblogo.png" alt="VEDB Logo" style="width:60px;height:60px;">
            <h1 class="h1">
                VEDB
            </h1>
        </div>
        <!-- Menu buttons -->
        <div class="down">
            <!-- Setting button -->
            <button class="buttons">
                <div class="buttoncontainer">
                    <img class="imginteract" src="../static/images/gear.png" alt="VEDB Logo" style="width:60px;height:60px;">
                    <h2 class="h2">Settings</h2>
                </div>
            </button>
            <!-- Logout button -->
            <a href="/logout">
                <button class="buttons">
                    <div class="buttoncontainer">
                        <img class="imginteract" src="../static/images/logout.png" alt="VEDB Logo" style="width:60px;height:60px;">
                        <h2 class="h2">Logout</h2>
                    </div>
                </button>
            </a>
        </div>
    </div>
    <!-- table for sessions -->
    <!-- https://stackoverflow.com/questions/48057944/repeated-data-in-html-table -->
    <div class="tablecontainer">
        <!-- Search Bar -->
        <div class="searchcontainer">
            <div id="username-textbox-div">
                <input class="textboxprimary" type="text" placeholder="Search user or email..">
            </div>
            <div id="username-textbox-div">
                <input class="textbox" type="text" placeholder="Search by session..">
            </div>
            <div id="username-textbox-div">
                <input class="textbox" type="text" placeholder="Search by file..">
            </div>
        </div>
        <!-- data/session table -->
         <!-- https://www.youtube.com/watch?app=desktop&v=mSiqZRpgrfY -->
         {{ render_table(users, show_actions=True, model=Users) }}

    </div>
</body>
</html>