<!DOCTYPE html>

{% from 'bootstrap5/form.html' import render_form %}

<html lang="en">
<head><!--Header, what needs to be loaded before page is made-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/auth.css') }}">
    <title>Document</title>
    <style>
        p {
            line-height: 1;
        }
    </style>
</head>
    <!-- https://code.visualstudio.com/docs/languages/html -->
<body class="body"><!--everything else-->
    <!-- THIS ISNT THE NAV BAR SORRY -->
    <nav class="nav">
        <div class="container">
            <img class="img" src="../static/images/vedblogo.png" alt="VEDB Logo" style="width:100px;height:100px;">
            <h1 class="h1">VEDB Toolbox</h1>
        </div>
        <h1 class="subtitle">
            The Visual Experience Database Toolbox
        </h1>
    </nav> 
    <br>
    <!-- This is where register shit starts -->
    <div class="flex-container" id="register-panel">
        {{ render_form(form) }}

        <!-- Log in if user has an account -->
        <div class="container">
            <!-- text -->
            <div class="text" id="account-text-div">
                Already have an account?
            </div>
            <a href="{{ url_for('login') }}">
                <button type="button" id="button-div">Login</button>
            </a>
        </div>
    </div>
    <!-- info thing 1-->
    <div class="container">
        <div class="infoblock1">
            <h1 class="h2">
                What is the VEDB?
            </h1>
            <p class="paragraph">
                Lorem ipsum odor amet, consectetuer adipiscing elit. Magna mi potenti potenti quisque feugiat porttitor. Arcu litora consectetur metus vehicula, inceptos lobortis. Nascetur nullam augue commodo tincidunt tortor curae laoreet quis. Vel iaculis magnis proin vestibulum amet cursus ligula curabitur dictumst. Dictum auctor eros tempor malesuada congue neque nisi condimentum fusce. Sodales varius porttitor viverra efficitur augue. Auctor non mus amet interdum praesent consectetur mauris vulputate. Morbi ac imperdiet feugiat facilisi phasellus. Massa natoque sollicitudin et laoreet lectus lorem erat libero.
            </p>
            <br>
            <p class="paragraph">
                Blandit dolor nulla nulla commodo lacinia, cursus eget mauris. Mattis posuere sollicitudin vel dictum est. Phasellus luctus vulputate dis natoque dictum curabitur at diam. Suscipit venenatis hac tincidunt efficitur phasellus ipsum vitae aliquet. Velit libero elementum nec; molestie arcu ullamcorper velit ridiculus orci. Condimentum risus adipiscing iaculis placerat donec vulputate aliquet hendrerit mus. Erat dolor himenaeos mus etiam nisi sodales tellus. Eros varius porta; velit lectus scelerisque semper. Felis eros tortor metus mi; finibus ultricies.
            </p>
            <br>
            <p class="paragraph">
                Lacinia placerat neque magna penatibus arcu. Semper dui aliquam consectetur fusce ex cras nunc est. Tempus vestibulum bibendum interdum luctus leo sollicitudin litora ante. Ornare cras luctus sagittis blandit natoque. Sem rhoncus dis aliquet duis, elit suspendisse lacinia quis. Porttitor sollicitudin integer at dolor amet purus arcu scelerisque. Primis porttitor gravida nascetur potenti potenti sodales. Blandit at ac dis; sapien egestas efficitur eu ridiculus?
            </p>
        </div>
        <img class="imgbig" src="../static/images/placeholder.png" alt="VEDB Logo" style="width:300px;height:300px;">
    </div>
    <!-- info thing 2-->
    <div class="container">
        <!-- info thing -->
        <img class="imgbig2" src="../static/images/journey_into_dataviz_feature.png" alt="VEDB Logo" style="width:400px;height:300px;">
        <div class="infoblock2">
            <h1 class="h2">
                What kind of data can you see?
            </h1>
            <p class="paragraph">
                Lorem ipsum odor amet, consectetuer adipiscing elit. Magna mi potenti potenti quisque feugiat porttitor. Arcu litora consectetur metus vehicula, inceptos lobortis. Nascetur nullam augue commodo tincidunt tortor curae laoreet quis. Vel iaculis magnis proin vestibulum amet cursus ligula curabitur dictumst. Dictum auctor eros tempor malesuada congue neque nisi condimentum fusce. Sodales varius porttitor viverra efficitur augue. Auctor non mus amet interdum praesent consectetur mauris vulputate. Morbi ac imperdiet feugiat facilisi phasellus. Massa natoque sollicitudin et laoreet lectus lorem erat libero.
            </p>
            <br>
            <p class="paragraph">
                Blandit dolor nulla nulla commodo lacinia, cursus eget mauris. Mattis posuere sollicitudin vel dictum est. Phasellus luctus vulputate dis natoque dictum curabitur at diam. Suscipit venenatis hac tincidunt efficitur phasellus ipsum vitae aliquet. Velit libero elementum nec; molestie arcu ullamcorper velit ridiculus orci. Condimentum risus adipiscing iaculis placerat donec vulputate aliquet hendrerit mus. Erat dolor himenaeos mus etiam nisi sodales tellus. Eros varius porta; velit lectus scelerisque semper. Felis eros tortor metus mi; finibus ultricies.
            </p>
            <br>
            <p class="paragraph">
                Lacinia placerat neque magna penatibus arcu. Semper dui aliquam consectetur fusce ex cras nunc est. Tempus vestibulum bibendum interdum luctus leo sollicitudin litora ante. Ornare cras luctus sagittis blandit natoque. Sem rhoncus dis aliquet duis, elit suspendisse lacinia quis. Porttitor sollicitudin integer at dolor amet purus arcu scelerisque. Primis porttitor gravida nascetur potenti potenti sodales. Blandit at ac dis; sapien egestas efficitur eu ridiculus?
            </p>
        </div>
    </div>
    <!-- bottom bar thing -->
    <div class="navbar">
        <div class="container2">
            <p class="hyperlink">
                <a href="https://www.unr.edu/">UNR Website</a>
                <a href="https://www.unr.edu/">Contact Us</a>
            </p>
        </div>>
    </div>
    <!-- top corner -->
    <div class="topbar">
        <div class="container">
            <img class="imgsmall" src="../static/images/vedblogo.png" alt="VEDB Logo" style="width:30px;height:30px;">
            <img class="imgsmall" src="../static/images/databrary.png" alt="VEDB Logo" style="width:30px;height:30px;">
            <img class="imgsmall" src="../static/images/vedblogo.png" alt="VEDB Logo" style="width:30px;height:30px;">
        </div>
    </div>
</body>
</html>